<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
  <h2 id="title">Ember-String-Helpers</h2>
  
  <p class="lead">Use various string helpers in your Ember CLI application templates.</p>
  
  <h3>Installation</h3>
  
  <pre>ember install ember-string-helpers</pre>
  
  <hr>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Format Phone</div>
    </div>
    <div class="panel-body">
      <h5 class="text-uppercase text-muted">Supported Formats</h5>
      <ul>
        <li><strong>US Standard:</strong> (999) 999-9999</li>
      </ul>
      
      <h5 class="text-uppercase text-muted">Example</h5>
      {{format-phone "8661239876"}}
      <h5 class="text-uppercase text-muted">Code</h5>
      <pre>\{{format-phone "8661239876"}}</pre>
    </div>
  </div>
  
</div>
